# ========================================
# 🛠 ФАЙЛ КОНФИГУРАЦИИ ДЛЯ МОДУЛЯ bot
# 
# ВНИМАНИЕ: Никогда не сохраняйте этот файл в репозитории с реальными значениями!
# Переименуйте в bot.env
# Пример: bot.env.example → bot.env
# ========================================


# ТОКЕН АДМИНИСТРАТИВНОГО БОТА
# Пример: 123456789:AAFbcDEFGHijklMNopQRStuvwxyZABCDEFghij
ADMIN_BOT_TOKEN=1234567:QWERTYUIOP

# ЛОГИН И ПАРОЛЬ ДЛЯ ВХОДА В АДМИН-ПАНЕЛЬ
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# СПИСОК ID АДМИНИСТРАТОРОВ В TELEGRAM
ADMIN_IDS=12345,12346


# ТОКЕН ПОЛЬЗОВАТЕЛЬСКОГО БОТА
USER_BOT_TOKEN=1234567:QWERTYUIOP


# URL ОСНОВНОГО API-СЕРВЕРА (обязательно)
# Адрес бэкенда, куда бот отправляет и откуда получает данные.
# Должен быть доступен из сети, где запущен бот.
API_URL=http://manga-day-v1:8080


# URL СЕРВИСА ГЕНЕРАЦИИ PDF (обязательно)
# Микросервис, отвечающий за создание PDF-документов.
# Должен принимать запросы и возвращать PDF по заданному шаблону.
PDF_URL=http://pdf:3040


# URL ВЕБ-САЙТА (опционально)
# Может использоваться в кнопках или сообщениях бота.
# Например, для перехода на сайт компании или личный кабинет.
SITE_URL=http://192.168.0.50:8000


# ПРОКСИ-СЕРВЕР (опционально)
# Используется для обхода блокировок Telegram (актуально в некоторых регионах).
# Поддерживаемые типы: http, https, socks5
# Формат: протокол://[логин:пароль@]хост:порт
# Пример: http://proxy.company.com:8080 или socks5://user:pass@192.168.1.10:1080
PROXY=http://amneziawg:8888
