<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управление Manga-Day</title>
    <link rel="icon" href="/static/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/admin/static/css/style.css">
    <script src="/admin/static/js/script.js"></script>
    
</head>
<body>
    <main>
        <div class="spiders" id="Spiders">
            <strong>Пока что нет ни одного паука!</strong>
        </div>

        <div class="full-buttons">
            <button type="button" onclick="StartAllSpider()" id="StartButton">Начать полное сканировние</button>
            <button type="button" onclick="StopAllSpider()" id="StopButton">Оставновить сканирование</button>
        </div>
    </main>
    <div class="messages"></div>
</body>
</html>