{% extends "base.html" %}

{% block content %}
<main>
    <link rel="stylesheet" href="/static/css/404.css">
    <div class="error-message-not-found">
        <img src="/static/images/zero.png" alt="милая аниме-девушку на сером фоне, в ярком и выразительном стиле аниме. Девушка стоит в кадре, улыбается мягко и дружелюбно, показывает руками жест 'ноль'">
        <h1>Ничего не нашлось по вашему запросу!</h1>
        <button onclick="window.location.assign('/');">Вернуться на главную</button>
    </div> 
</main>
{% endblock %}